.scroll-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }

  & svg:hover {
    fill: $secondary-color;
  }

}