<section class="about">
    <div class="container">
        <div class="title-template">О нас</div>
        <div class="about__box">
            <div class="about__main-img">
                <img class="img-fluid" src="assets/img/about-main.png" alt="wine">
            </div>
            <div class="about__info">
                <div class="about__text-box">
                    <p class="text-item">Наша компания Warm Place занимается изготовлением каминов, печей, мангалов и грилей для барбекю с прямой доставкой и установкой на дом.</p>
                    <p class="text-item">Наши изделия отличаются от конкурентов высоким качеством материала, из которого мы изготавливаем наше оборудование и также демократичными ценами, которые вполне устраивают наших довольных покупателем, потому залог успеха Warm Place - высокое качество за небольшую цену.</p>
                    <p class="text-item">Также мы предоставляем услуги доставки нашего оборудования в регионы, наши курьеры гарантируют целостность и сохранность оборудования к моменту его доставки и дальнейшей установки.</p>
                </div>
                <div class="about__link">
                    <a href="#">Читать далее</a>
                </div>
                <div class="about__box-img">
                    <img class="img-fluid" src="assets/img/about-img.png" alt="fire">
                </div>
            </div>
        </div>
    </div>
</section>