<section id="call">
    <img class="frame-circle-2" src="assets/img/2-circle.svg" alt="frame">
    <div class="container">
        <div class="title-template"><span style="color: #FCB357;">Свяжитесь</span> с нами</div>
        <form action="call">
            <div class="input-box">
                <input placeholder="ФИО" type="text">
                <input placeholder="E-mail или номер телефона" type="text">
            </div>
            <div class="textarea">
                <textarea placeholder="Текст сообщения..."></textarea>
            </div>
            <button class="btn btn-secondary">Отправить</button>
        </form>
    </div>
</section>