<header class="header">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.svg" alt="logo">
        </div>
        <nav class="header-nav">
            <a href="#">Главная</a>
            <div class="header-list">
                <a href="#">Наши работы</a>
                <a href="#">Как мы работаем</a>
                <a href="#">Контакты</a>
            </div>
        </nav>
        <div class="header-btn">
            <button class="btn btn-primary">Обратная связь</button>
        </div>
    </div>
</header>

