<section id="review">
    <div class="container">
        <div class="title-template"><span style="color: #FCB357;">Отзывы</span> клиентов</div>
        <div class="card-group">
            <div class="card-column">
                <div class="card-row">
                    <div class="card">
                        <img class="quote_before" src="assets/img/quote_before.png" alt="quote">
                        <div class="card-info">
                            <div class="person-photo">
                                <img class="user-photo-1" src="assets/img/user-img-1.png" alt="user">
                            </div>
                            <div class="person-info">
                                <h6 class="person-status">Предприниматель</h6>
                                <h5 class="person-name">Валерий Петренко</h5>
                                <p class="person-comment">Благодарю компанию Warm place за качественный камин, который мы
                                    брали у вас с женой, ваши сотрудники были очень вежливы и приятны,
                                    установили все в кратчайшие сроки. Всем рекомендую!
                                </p>
                                <ul class="social-list">
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_facebok_color.svg" alt="icon_facebok">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_vk_color.svg" alt="icon_vk">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_telegram_color.svg" alt="icon_telegram">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card">
                        <img class="quote_before" src="assets/img/quote_before.png" alt="quote">
                        <div class="card-info">
                            <div class="person-photo">
                                <img class="user-photo-2" src="assets/img/user-img-3.png" alt="user">
                            </div>
                            <div class="person-info">
                                <h6 class="person-status">Дизайнер интерьера</h6>
                                <h5 class="person-name">Анастасия Кравец</h5>
                                <p class="person-comment">Недавно приобрела у вас гриль и мангал себе на дачу, и могу сказать что соотношение цены и качества просто отличное - мало того что товар сделан на должном уровне, так еще и цены вполне демократичные.
                                </p>
                                <ul class="social-list">
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_facebok_color.svg" alt="icon_facebok">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_vk_color.svg" alt="icon_vk">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_instagram_color.svg" alt="icon_instagram">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-column">
                <div class="card-row">
                    <div class="card">
                        <img class="quote_before" src="assets/img/quote_before.png" alt="quote">
                        <div class="card-info">
                            <div class="person-photo">
                                <img class="user-photo-3" src="assets/img/user-img-2.png" alt="user">
                            </div>
                            <div class="person-info">
                                <h6 class="person-status">Бухгалтер</h6>
                                <h5 class="person-name">Михаил Дмитриенко</h5>
                                <p class="person-comment">Честно говоря, я был приятно удивлен таким быстрым срокам доставки, качеством товара так же был доволен, заказывал у вас мангал для барбекю, всем советую и рекомендую заказывать у Warm place.
                                </p>
                                <ul class="social-list">
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_facebok_color.svg" alt="icon_facebok">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_instagram_color.svg" alt="icon_instagram">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_telegram_color.svg" alt="icon_telegram">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_vk_color.svg" alt="icon_vk">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card">
                        <img class="quote_before" src="assets/img/quote_before.png" alt="quote">
                        <div class="card-info">
                            <div class="person-photo">
                                <img class="user-photo-4" src="assets/img/user-img-4.png" alt="user">
                            </div>
                            <div class="person-info">
                                <h6 class="person-status">Владелец сети ресторанов</h6>
                                <h5 class="person-name">Владимир Ткачев</h5>
                                <p class="person-comment">Неделю назад стокнулся с проблемой приобретения пары печей для одного из наших заведений. Заказал у вас и всем доволен, предполагаю вскоре замену наших старых печей на оборудование от Warm Place.
                                </p>
                                <ul class="social-list">
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_facebok_color.svg" alt="icon_facebok">
                                        </a>
                                    </li>
                                    <li class="social-item">
                                        <a class="social-link" href="#">
                                            <img src="assets/img/icon_telegram_color.svg" alt="icon_telegram">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>