<section id="works">
    <div class="container">
        <div class="title-template">Наши <span style="color: #E6A859;">работы</span></div>
        <div class="works-slider">
            <div class="slide-card">
                <img class="img-fluid" src="assets/img/slide-1.jpg" alt="1">
                <h4 class="card-title">Камин <span style="color: #FCB357;">Square</span></h4>
            </div>
            <div class="slide-card-center">
                <img class="img-fluid" src="assets/img/slide-2.png" alt="2">
                <h4 class="card-title">Камин <span style="color: #FCB357;">Modern royal</span></h4>
                <h5 class="card-subtitle">Стоимость: 12 500.00 &#8372</h5>
            </div>
            <div class="slide-card">
                <img class="img-fluid" src="assets/img/slide-3.jpg" alt="3">
                <h4 class="card-title">Камин <span style="color: #FCB357;">Old royal</span></h4>
            </div>
            <div class="slide-card">
                <img class="img-fluid" src="assets/img/slide-1.jpg" alt="1">
            </div>
            <div class="slide-card-center">
                <img class="img-fluid" src="assets/img/slide-2.png" alt="2">
            </div>
            <div class="slide-card">
                <img class="img-fluid" src="assets/img/slide-3.jpg" alt="3">
            </div>
            <div class="slide-card">
                <img class="img-fluid" src="assets/img/slide-1.jpg" alt="1">
            </div>
            <div class="slide-card-center">
                <img class="img-fluid" src="assets/img/slide-2.png" alt="2">
            </div>
            <div class="slide-card">
                <img class="img-fluid" src="assets/img/slide-3.jpg" alt="3">
            </div>
        </div>
        <img class="circle-img" src="assets/img/circle.svg" alt="circle">
        <div class="arrow-box">
            <div class="page-num">
                <span style="color: #FCB357;">2</span>/14
            </div>
            <div class="works-arrows">
                <button type="button" class="arrow-prev">
                    <svg width="26.000000" height="13.000000" viewBox="0 0 26 13" fill="none">
                        <rect x="4.250000" y="7.766602" width="3.106705" height="21.746954" transform="rotate(-90 4.250000 7.766602)" fill="#FFFFFF" fill-opacity="1.000000"/>
                        <path d="M-0.41 6.21L5.42 11.59L5.42 0.83L-0.41 6.21Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd"/>
                    </svg>
                </button>
                <button type="button" class="arrow-next">
                    <svg width="27.000000" height="13.000000" viewBox="0 0 27 13" fill="none">
                        <rect width="3.106705" height="21.746954" transform="matrix(6.12324e-17 -1 -1 -6.12323e-17 21.75 7.7666)" fill="#fff" fill-opacity="1.000000"/>
                        <path d="M26.4 6.21L20.57 11.59L20.57 0.83L26.4 6.21Z" fill="#fff" fill-opacity="1.000000" fill-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>