<section id="working">
    <div class="container">
    <div class="title-template">Как <span style="color: #FCB357;">мы</span> работаем</div>
        <div class="working-card-box">
            <div class="working-card">
                <div class="working-img">
                    <img class="img-fluid" src="assets/img/order-img.svg" alt="order">
                </div>
                <h5 class="working-title">1. Оформление заказа</h5>
                <p class="working-description">Вы оформляете ваш заказ, а позже мы перезваниваем вам, и мы уже согласовываем все    детали.</p>
        </div>
            <div class="working-card">
                <div class="working-img">
                    <img class="img-fluid" src="assets/img/delivery-img.svg" alt="delivery">
                </div>
                <h5 class="working-title">2. Доставка вашего товара</h5>
                <p class="working-description">Мы доставим ваш заказ в кратчайшие сроки, а сам товар вы уже сможете забрать сами, либо  курьер доставит вам на дом.</p>
            </div>
            <div class="working-card">
                <div class="working-img">
                    <img class="img-fluid" src="assets/img/receiving-img.svg" alt="receiving">
                </div>
                <h5 class="working-title">3. Получение товара и установка</h5>
                <p class="working-description">Вы забираете свой товар на почте, либо наши работники вам его доставят и установят.</p>
            </div>
        </div>
    </div>
</section>